<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">Happy Madison&copy ; <%= year %> - CSE 340 App</p>
  <p><a href="/inv/error-test">Test 500 Error</a></p>
</footer>