<%- include('head') %>

<header>
  <h1>
    CSE Motors <img src="/images//site/icon.png" alt="Icon" class="site-icon">
  </h1>
  <div class="account-link"><a href="/account">My Account</a></div>
</header>