<nav>
  <ul>
    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Home</a></li>
    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Custom</a></li>
    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Sedan</a></li>
    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">SUV</a></li>
    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Truck</a></li>
  </ul>
</nav>
