<main>
  <h1><%= title %></h1>

  <% if (messages && messages.length) { %>
    <div class="flash-message">
      <ul>
        <% messages.forEach(msg => { %>
          <li><%= msg %></li>
        <% }) %>
      </ul>
    </div>
  <% } %>

  <section class="management-links">
    <h2>Manage Inventory</h2>
    <ul>
      <li><a href="/inv/add-classification">Add New Classification</a></li>
      <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
    </ul>
  </section>
</main>
